@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #E0E0EE;
  background: #08081a;
  overflow-x: hidden;
  max-width: 100vw;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
